<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--value of logfolder is set through code-->
  <variable name="logfolder" value="" />

  <targets async="false">
    <target xsi:type="File"
            name="onefileall"
            layout="${date:format=HH\:mm\:ss} - ${level:uppercase=true}: ${logger} : (${mdlc:item=UniqueId}) ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${var:logfolder}\FullLog.log"
            keepFileOpen="false"
            archiveFileName="${var:logfolder}\Archive\FullLog_{#}.log"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            archiveAboveSize="10000000" />
    <!-- maximaal 30 files van 10Mb = max 30 dagen en max 300Mb, -->

    <target xsi:type="File"
            name="onefileforeachlogger"
            layout="${date:format=HH\:mm\:ss} - ${level:uppercase=true}: (${mdlc:item=UniqueId}) ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${var:logfolder}\${logger:shortName=true}.log"
            keepFileOpen="false"
            archiveFileName="${var:logfolder}\Archive\${logger:shortName=true}_{#}.log"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60"
            archiveAboveSize="10000000" />
    <!-- maximaal 60 files van 10Mb = max 60 dagen en max 600Mb, -->

    <target xsi:type="File"
            name="errors"
            layout="${longdate} - ${level:uppercase=true}: ${logger:shortName=true}:${callsite}: (${mdlc:item=UniqueId}) ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${var:logfolder}\Errors.log"
            keepFileOpen="false"
            archiveFileName="${var:logfolder}\Archive\Errors_{#}.log"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="300"
            archiveAboveSize="5000000" />
    <!-- maximaal 300 files van 5Mb = max 300 dagen en max 1500Mb, -->

    <target xsi:type="File"
            name="criticalerrors"
            layout="${longdate} - ${level:uppercase=true}: ${logger:shortName=true}:${callsite}: (${mdlc:item=UniqueId}) ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${var:logfolder}\CriticalErrors.log"
            keepFileOpen="false"/>

    <target xsi:type="Null" name="blackhole" />

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
  </targets>
  <rules>
    <logger name="*" writeTo="console" minlevel="Debug" />
    <logger name="*" writeTo="onefileall" minlevel="Debug" />
    <!--logger name="*" writeTo="onefileforeachlogger" minlevel="Info" /-->
    <!--logger name="*" writeTo="errors" minlevel="Error" /-->
    <!--logger name="*" writeTo="criticalerrors" minlevel="Fatal" /-->
  </rules>
</nlog>